{
  "presets": ["react", "stage-0"],
  "plugins": [
    [
      "import",
      [
        { "libraryName": "antd", "libraryDirectory": "es", "style": "css" },
        { "libraryName": "lodash-es", "libraryDirectory": "", "camel2DashComponentName": false }
      ]
    ]
    // ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }],
  ]
}
